.header {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	padding: 30px 0;
	width: 100%;
	

	&__top {
		display: flex;
		margin: 0 0 32px 0;
	}

	// &__logo {
		// margin: 0px 77px 0px 0px;
	// }

	// &__socnet {
	// 	margin: 0px 90px 0px 0px;
	// }
}

.logo {
	flex: 1 1 50%;
	// max-width: 390px;
	display: flex;
	&__symbol-logo {

		font-weight: bold;
		font-size: 52px;
		line-height: 63px;
		text-transform: uppercase;
		color: #E1E1E1;
	}
	&__vertical-line {

		width: 2px;
		height: 40px;
		border: 1px solid #89AFEF;
		margin: 0px 17px 0px 17px;
		
	}

	&__text {
		max-width: 192px;

		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		color: #5D5D5D;
	}

}

.socnet {
	max-width: 165px;
	width: 100%;
	&__item {
		display: inline-block;
		width: 43px;
		height: 43px;
		border-radius: 50%;
		margin: 0px 14px 0px 0;

		&_whatsapp {
			background: #2DD038 url('../img/whatsapp_logo.svg') no-repeat center/21px;
			box-shadow: 0px 8px 25px rgba(45, 208, 56, 0.497678);
		}

		&_viber {
			background: #7B519D url('../img/viber_logo.svg') no-repeat center/21px;
			box-shadow: 0px 8px 25px rgba(123, 81, 157, 0.503797);
		}

		&_telegram {
			background: #5BBAF0 url('../img/telegram_logo.svg') no-repeat 9px 12px /21px 19px;
			box-shadow: 0px 8px 25px rgba(91, 186, 240, 0.5);
		}


	}

	&__item:hover {
		box-shadow: 0px 8px 25px rgb(38, 96, 129);
	}

	&__item:last-child {
		margin: 0;
	}

}


.contacts {
	flex: 1 1 50%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 42px;

	&__telephon-email {
		margin: 0px 24px 0px 0px;
	}

}


.telephon-email {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	align-items: flex-end;
	

}


.telephon {
	width: 100%;
	display: flex;
	align-items: center;
	// background: url('../img/icon-telephon.svg') no-repeat left/16px;
	// padding: 3px 0 3px 25px;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	color: inherit;
	margin: 0px 0px 0px auto;
	&::before{
		content: "";
		// width: 16px;
		height: 16px;
		flex: 0 0 16px;
		background: url('../img/icon_telephon.svg') no-repeat center/cover;
		margin: 0px 0px 0px 0px;
	}
}

.telephon:hover {
	color: rgba(30, 30, 148, 0.705);
	/* border-bottom: 1px solid rgba(30, 30, 148, 0.705); */
	text-decoration: underline;

}

.email:hover {
	color: rgba(30, 30, 148, 0.705);
	/* outline: 1px solid rgba(30, 30, 148, 0.705); */
	text-decoration: underline;
}

.email {
	width: 100%;
	display: flex;
	// padding: 3px 0 6px 25px;
	align-items: center;
	margin: 0px 0px 0px 29px;
	font-weight: 500;
	font-size: 17px;
	line-height: 20px;
	color: inherit;

	&::before{
		content: "";
		flex: 0 0 17px;
		height: 17px;
		background: url('../img/icon_envelope.svg') no-repeat;
		margin: 0px 0px 0px 0px;
	}
}

.callback {
	padding: 12px 27px 11px 27px;
	font-weight: 600;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
	background: linear-gradient(90deg, #F6BD60 0%, #E88952 100%);
	box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
	border-radius: 3px;
}

.callback:hover {
	background: linear-gradient(90deg, #c49242 0%, #7a401e 100%);
	box-shadow: 0px 8px 18px rgba(151, 92, 49, 0.925);
}

// .header-bottom {}

// .header__header-bottom {}

.nav {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-transform: uppercase;
	color: #333333;

	&__item {
		display: inline-block;
		margin: 0px 40px 0px 0px;
		&>li {
			color: inherit;
		}
	}	

	&__item:last-child {
		margin: 0;
	}


	&__link:hover {
		color: rgba(30, 30, 148, 0.705);
		text-decoration: underline;
	}

}


// .nav__header-bottom {}